
<h1>Información del usuario</h1>
<hr>

<div class="row">

  <div class="col-6">
    <h3>Usuario actual:  {{ userId() }}</h3>
    <button class="btn btn-primary mr-2" (click)="loadUser( userId() - 1 )">Anterior</button>
    &nbsp;
    <button class="btn btn-primary" (click)="loadUser( userId() + 1 )">Siguiente</button>
  </div>

  <div class="col-6" *ngIf="currentUser()">
    <h3>Usuario</h3>
    <p>Correo: {{ currentUser()?.email}}</p>
    <p>Nombre: {{ fullName() }}</p>
    <img [src]="currentUser()?.avatar" alt="Avatar" class="rounded-5">

  </div>

  <div class="col-8 text-danger mt-4" *ngIf="!userWasFound()">
    <h3>Usuario no encontrado</h3>
  </div>

</div>
